<%- include('modules/header') %>
<div class="container">
    <!-- Content here -->
    <br /><br /><br /><br />
    <h1>Hello <%= user.firstname %></h1>
    <ul class="list-group text">
        <li class="list-group-item active">Lastname: <%= user.lastname%></li>
        <li class="list-group-item">Username: <%= user.username%></li>
        <li class="list-group-item">Age: <%= user.age%></li>
        <li class="list-group-item">Email: <%= user.email%></li>
        <li class="list-group-item">Courses: <%= courses.map((c) => `"${c.title}"`).join(', ')%></li>
        <li class="list-group-item">Password: <%= user.password%></li>
        <li class="list-group-item">Is admin: <%= user.admin == true ? "yes" : "no"%></li>
    </ul>
    <br /><br />
    <img src="https://i.chzbgr.com/full/9323482112/h85239F74/a-fluffy-brown-adolescent-penguin-trips-over-a-rock-then-continues-walking" width="600" alt="" />
</div>

<style>
    body {
        background-color: rgb(194, 212, 239);
    }
    .text {
        font-size: 30px;
    }
</style>
<%- include('modules/footer') %>
